<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Present Recollection</h2>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
    </div>
    <div class="modal-body">

      <h2>How to use</h2>
      <ul>
        <li>Create Account</li>
        <li>Log in</li>
        <li>Add a friend</li>
        <li>If you mispell your friends name, or write the wrong birthday, go edit friend</li>
        <li>If you want to remove a friend from the list click delelete and confirm deletion</li>
        <li>Click on your friend to create a gift / view gifts associated with that friend</li>
        <li>Add a gift to that friend. You'll know which friend because their name will be at the top</li>
        <li>If you want to update the gift, press update, and you can go ahead and edit!</li>
        <li>If you have bought the gift for your friend, or think it's no longer a great idea click delete, and then confirm deletion</li>
        <li>When you're done creating gifts, click back and go add more friends and gifts!</li>
        <li>You now have no good reason to forget your friends presents ideas! Just write 'em down!</li>
      </ul>

      <div>

        <h2>Process</h2>
        <p>If you would like to learn more about my process please checkout my repos, either my <a href="https://github.com/briankeegan/present-recollection" target="_blank">front-end</a> or <a href="https://github.com/briankeegan/present-recollection" target="_blank">Rails API</a>.
          Both and more can be found at <a href="https://github.com/briankeegan/" target="_blank">my github</a> page!</p>
        <p>Thanks for checking out my site!</p>
        <p>
          <a href="http://briankeegan.tech">Brian Keegan</a>
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
