
  <h1 class="center">Present Recolleciton</h1>
  <p>
    My fiance is has always been the best gift giver. It always blew my mind when she continuesly picked the prefect present. How did she come up with such brilliance? The solution? Simple! Everytime one her friends or family mentioned something that they
    liked she would simply write it down!
  </p>
  <p>
    Who would use this? Who wouldn't use this! Your mom! Your dad! Your siblings! Any good friend!!!
  </p>
  <p>
    I wanted to make this simple easy to use app, one that I would use.
  </p>
  </p>
<h1 class="">How to use</h1>
<ul>
  <li>Create Account</li>
  <li>Log in</li>
  <li>Add a friend</li>
  <li>If you mispell your friends name, or write the wrong birthday, go edit friend</li>
  <li>If you want to remove a friend from the list click delelete and confirm deletion</li>
  <li>Click on your friend to create a gift / view gifts associated with that friend</li>
  <li>Add a gift to that friend. You'll know which friend because their name will be at the top</li>
  <li>If you want to update the gift, press update, and you can go ahead and edit!</li>
  <li>If you have bought the gift for your friend, or think it's no longer a great idea click delete, and then confirm deletion</li>
  <li>When you're done creating gifts, click back and go add more friends and gifts!</li>
  <li>You now have no good reason to forget your friends presents ideas! Just write 'em down!</li>
</ul>
