$xlg: 1199px;
$lg: 991px;
$md: 768px;
$sm: 480px;

// $collapse-issue: 787px;
// // Fix collapse issue at 787px
//
// @media all and (max-width: $collapse-issue) {
//   .navbar-form {
//     padding: 0;
//   }
// }
