$color1: rgba(128, 206, 215, 1);
$color2: rgba(192, 253, 251, 1);
$color3: rgba(99, 199, 178, 1);
$color4: rgba(252, 255, 253, 1);
$color5: rgba(119, 104, 174, 1);

body {
  background-color: $color4;
  color: $color1;
}

footer {
  background-color: $color5;
  color: darken($color4, 20%);

  & a {
    color: $color2;

    :visited,
    :active {
      color: $color2;
    }

    &:hover {
      color: darken($color3, 25%);
    }
  }
}
